// 自定义的 Element Plus 样式

// 色彩
:root {
  --el-color-primary: #1677ff;
  --el-color-primary-light-3: #2e96ff;
  --el-color-primary-light-5: #53a9ff;
  --el-color-primary-light-7: #7dbcff;
  --el-color-primary-light-8: #a4d2ff;
  --el-color-primary-light-9: #e6f4ff;
}

// 菜单
.el-menu {
  &::before {
    display: table;
    content: '';
  }
  &::after {
    display: table;
    clear: both;
    content: '';
  }
  border-right: none;
  & > .el-menu-item {
    margin-inline: 4px;
    margin-block: 4px;
    height: var(--sidebar-menu-item-height);
    border-radius: 5px;
    &.is-active {
      background-color: var(--el-menu-hover-bg-color);
    }
    &:not(.is-active):hover {
      background-color: rgba(0, 0, 0, 0.06);
    }
  }
  & > .el-sub-menu {
    & > .el-sub-menu__title {
      margin-inline: 4px;
      margin-block: 4px;
      height: var(--sidebar-menu-item-height);
      border-radius: 5px;
      &:hover {
        background-color: rgba(0, 0, 0, 0.06);
      }
    }
    & > .el-menu {
      background-color: rgba(0, 0, 0, 0.02);
    }
    &.is-active {
      & > .el-sub-menu__title {
        color: var(--el-menu-active-color);
      }
    }
  }
}

// 头像
.el-avatar {
  background: unset;
}

// 按钮
.el-button {
  font-weight: 400;
}
