// 全局CSS变量
@import './variables.css';
// Antd
@import './antd.scss';
// transition动画
@import './transition.scss';
// Element plus
@import './element-plus.scss';
// Mixin
@import './mixins.scss';

// 全局样式
body {
  min-width: var(--body-min-width);
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
