// Navbar小功能按键
.navbarFunItem {
  @extend .flex-center;
  width: var(--navbar-function-size);
  height: var(--navbar-function-size);
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 5px;
  &:hover {
    background-color: rgba(0, 0, 0, 0.06);
  }
  & > i[class^='ri-'] {
    font-size: 18px;
    color: var(--navbar-function-icon-color);
  }
  &:focus-visible {
    outline: none;
  }
}

// flex全居中
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

// 文字溢出省略号
@mixin text-ellipsis($line: 1) {
  display: -webkit-box;
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
