:root {
  /* Body的最小宽度 */
  --body-min-width: 900px;

  /* Layout的背景颜色 */
  --layout-background-color: #f6f8f9;

  /* Sidebar的宽度 */
  --sidebar-width: 230px;
  /* Sidebar收缩后的宽度 */
  --sidebar-closed-width: 55px;
  /* Sidebar的背景颜色 */
  --sidebar-background-color: #fff;
  /* Sidebar MenuItem的高度 */
  --sidebar-menu-item-height: 45px;
  /* Sidebar Item之间的外边距 */
  --sidebar-margin: 4px;

  /* Logo的高度 */
  --logo-height: 55px;

  /* Navbar的高度 */
  --navbar-height: 55px;
  /* Navbar的内边距 */
  --navbar-padding: 0 5px;
  /* Navbar的背景颜色 */
  --navbar-background-color: #fff;
  /* Navbar中小功能按键的大小 */
  --navbar-function-size: 45px;
  /* Navbar中小功能按键图标颜色 */
  --navbar-function-icon-color: rgba(0, 0, 0, 0.65);

  /* TagsView的高度 */
  --tagsView-height: 40px;
  /* TagsView的激活背景颜色 */
  --tagsView-active-background-color: var(--el-color-primary-light-9);
  /* TagsView的激活文字颜色 */
  --tagsView-active-text-color: var(--el-color-primary);

  /* AppMain的外边距 */
  --appMain-outside-padding: 20px;

  /* 通用边框颜色 */
  --normal-border-color: rgba(5, 5, 5, 0.06);
  /* 通用文字颜色 - 黑 */
  --normal-text-color-black: rgba(0, 0, 0, 0.88);
  /* 通用文字颜色 - 灰 */
  --normal-text-color-sliver: #424242;
  /* 通用动画时间 */
  --normal-transition-duration: 0.3s;
}
